.AF{
  background-color: green;
}
.AG{
  font-size: 10px;
}
.third{
  position: relative;
  top: 12px;
}
.fourth{
  position: relative;
  top: 25px;
}
.AH{
  border-radius: 100%;
  position: relative;
  left: 20px;
  top: -18px;
}
.fifth{
  position: relative;
  top: 25px;
}
.AI{
  font-weight: 800;
  font-size:23px;
}
.dd{
  list-style: none;
}
.AJ{
position:relative;
left:48px;
top: -12px;
}
.bg{
  background-color: green;
}
.yellow{
  color: yellow;
}
.yelloww{
  opacity: 0;
}
.copy{
  background-color: yellow;
  font-size: 6px;
  height:40px;
}
.flu{
  font-size:11px;
  font-weight: 900;
}
.con{
  height: auto;
  padding:0;
}
.edd{
  background-color: #ffff00;
}
.yel{
   position:relative;
  left: 75px;
}
.hh{
  font-weight: 500;
}
.re{
  font-size: 14px;
  
}
.al{
  position: relative;
  left: 66px;
}
.hg{
  text-align: center;
}
.btn{
  background-color:rgb(214, 214, 12);
  border:none;
}
.noi{
  font-size: 19px;
}
.hffd{
  font-size: 25px;
  color: red;
}
.lkjh {
 background-color: green; 
}
.kjb{
  font-size: 13px;
}
.gvs{
  font-size: 15px;
}
.bcr{
  font-size:15px;
}
.bgg{
  background-color: #ffff00;
}
/* .kjhgf{
  font-weight: 900;
  font-size: 17px;
} */
/* .hdhx{
  position: relative;
  left:40%;
} */
.gfh{
  position: relative;
  left: -14%;
}

.gge{
  font-size: 17px;
}